package-lock.json filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
style.css filter=lfs diff=lfs merge=lfs -text
TaskInsight filter=lfs diff=lfs merge=lfs -text
launch.bat filter=lfs diff=lfs merge=lfs -text
mainWindow.html filter=lfs diff=lfs merge=lfs -text
mainWindow.js filter=lfs diff=lfs merge=lfs -text
node_modules filter=lfs diff=lfs merge=lfs -text
